.contact {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 150px;
}

.contact__title {
  padding-right: 50px;
  flex-basis: 21%;
  text-align: right;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 25px;
    }
}

.contact__container {
  padding-left: 50px;
  /*flex-basis: 70%;*/
  border-left: 2px solid #07eff9;
  width: 100%;
}

.contact__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__form-text {
  font-size: 18px;
}

.contact__form-fieldset {
  border: none;
  flex-basis: 24%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;

  &_checkbox {
    margin-top: 10px;
    flex-basis: 39%;
    margin-left: 7px;
    position: relative;
  }

  p {

    &:first-of-type {
    margin-top: 7px;
    }
  }
}

.contact__form-input {
  padding: 10px 80px 10px 10px;
  border: 1px solid #f6f6f6;
  background-color: #fbfbfb;

    &:focus {
      border: 1px solid #258e8a;
      outline: none;
    }
}

.contact__form-input-checkbox+.contact__form-checkbox::before {
  content: "";
  border: 1px solid rgba(37, 142, 138, .5);
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -3px;
  left: -5px;
}

.contact__form-input-checkbox:checked+.contact__form-checkbox::before {
    background-image: url("../img/i_checkbox.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 18px;
}

.contact__form-input-checkbox:hover+.contact__form-checkbox::before {
    border-color: rgba(37, 142, 138, 1);
}

.contact__form-input-checkbox:focus+.contact__form-checkbox::before {
    border-color: rgba(37, 142, 138, 1);
}

/*.contact__form-input-checkbox+.contact__form-checkbox::after {
  content: "";
  border: 1px solid rgba(255, 0, 0, .5);
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -3px;
  left: -5px;
}*/

.contact__form-message {
  flex-basis: 68%;
  padding-top: 7px;
}

.contact__form-textarea {
  padding: 10px;
  width: 97%;
  height: 60.2%;
  border: 1px solid #f6f6f6;
  background-color: #fbfbfb;

    &:focus {
      border: 1px solid #258e8a;
      outline: none;
    }
}

.contact__form-checkbox {
  letter-spacing: 1px;
  margin-left: 15px;
  cursor: pointer;
}

.contact__form-btn {
  border: 0;
  padding: 9px 60px;
  font-size: 18px;
  background-color: #15514f;
  color: #fff;
  margin-top: 35px;

    &:hover {
      background-color: #103d3b;
    }

    &:active {
      background-color: #0b2928;
    }

    &:focus {
      background-color: #0b2928;
    }
}

.contact__form-error {
  border-color: rgba(255, 0, 0, .4);
}

.contact__form-error-checkbox {
  border-bottom: 1px solid rgba(255, 0, 0, .4);
}

input:required:valid {
  border-color: yellow;
}

@media (min-width: 1184px) {
  .contact__form-fieldset:first-of-type {
    padding-right: 25px;
  }
}

@media (max-width: 1200px) {
  .contact__form {
    flex-direction: column;
  }

  .contact__form-message {;
    flex-basis: 0;
  }

  .contact__form-fieldset {
    flex-basis: 0;

    &_checkbox {
      margin-top: 20px;
    }
  }

  .contact__form-btn {
    /*width: 160px;*/
    align-self: flex-end;
    margin-left: 0;
  }
}


@media (max-width: 712px) {
  .contact {
    flex-direction: column;
  }

  .contact__title {
    h2 {
      position: relative;

      &::before {
        content: "";
        border: 1px solid #07eff9;
        position: absolute;
        top: 40px;
        width: 99px;
      }
    }

    &_ru {

      h2 {

        &::before {
          width: 160px;
        }
      }
    }
}

  .contact__title {
    flex-basis: 0;
    padding-right: 0;
    text-align: center;
  }

  .contact__container {
    border-left: 0;
    flex-basis: 0;
    padding-left: 0;
  }
  .contact__form-fieldset {
    width: 100%;

      &:first-of-type {
        flex-basis: auto;
      }

      p {
        width: 100%;
      }
  }

  .contact__form-input {
    width: 100%;
    box-sizing: border-box;
  }
}
