.footer {
  background-color: rgb(20, 20, 20);
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 18px;
}

.footer__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #b4b3b3;
  margin-top: 15px;
  margin-left: 20px;
  padding-left: 2px;
  padding-right: 3px;
  height: 65px;

  &:hover {
    color: #103d3b;
  }

  &:active {
    color: #0b2928;
  }

  &:focus {
    color: #0b2928;
    outline-color: #0b2928;
  }
}

.footer__img {
  padding-left: 7px;
}
