.main {
  background-color: #f6f6f6;
}

.main__about {
  display: flex;
  flex-direction: row;
  padding-top: 150px;
}

.main__about-title {
  /*flex-basis: 20%;
  text-align: right;
  max-width: 150px;*/

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 25px;
      text-align: left;
      width: 150px;
    }
}

.main__about-info {
  padding-left: 50px;
  flex-basis: 80%;
  border-left: 2px solid #07eff9;

    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;

      &:last-of-type {
        font-family: "Brush Script", cursive;
        font-size: 21px;
        font-style: italic;
        color: #15514f;
        margin-top: 10px;
        text-align: right;
      }
    }
}

.main__about-icondew {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  img {
    cursor: pointer;
    margin-right: 25px;
    margin-top: 10px;
  }
}

.main__about-certificates {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main__about-img {
  img {
    cursor: zoom-out;
  }
}

.main__about-img-zooming {
  cursor: zoom-in;
}

.main__about-wrapper {
	position: relative;
  display: inline-block;
  margin-top: 40px;
  margin-right: 40px;
  padding-bottom: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

.main__about-overlay {
  display: none;
  position: absolute;
  z-index: 999;

  &_basic {
    transform: translate(0, -45%);
  }

  &_prof {
    transform: translate(-51%, -45%);
  }
}

.main__about-overlay .main__about-img{
  display: block;
}

.main__about-overlay:target {
  display: block;
}

@media (max-width: 712px) {
  .main__about-certificates {
    justify-content: center;
  }

.main__about-overlay {

  &_basic {
    transform: translate(-4%, -45%);
  }

  &_prof {
    transform: translate(-55%, -45%);
  }
}

  .main__about {
    flex-direction: column;
  }

  .main__about-title {
    padding-right: 0;
    margin: 0 auto;
    flex-basis: 0;
    padding-bottom: 10px;

      h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 25px;
        text-align: center;
        position: relative;

        &::before {
          content: "";
          border: 1px solid #07eff9;
          position: absolute;
          top: 40px;
          width: 99px;
        }
      }

      &_ru {

        h2 {

          &::before {
            width: 92px;
          }
        }
      }
  }

  .main__about-info {
    padding-left: 0;
    padding-right: 0;
    border-left: 0;
    flex-basis: 0;
    padding-top: 10px;

      p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        text-align: center;
      }
  }

}

@media (max-width: 785px) {
  .main__about-info {
    padding-right: 0;
  }
}

@media (max-width: 712px) {
.main__about {
    padding-top: 80px;
  }
}

@media (max-width: 420px) {
  .main__about-wrapper {
    margin-right: 5px;
  }
}

@media (max-width: 360px) {
  .main__about-certificates {
    flex-direction: column;
    align-items: center;
  }

  .main__about-wrapper {
    margin-right: 0;
  }
}
